[Unit]
Description={{ project_name }} website
After=network.target

[Service]
User={{ vps_user }}
Group={{ vps_user }}
WorkingDirectory=/root/{{ project_name }}
Environment="PATH=/root/{{ project_name }}/venv/bin"
ExecStart=/root/{{ project_name }}/venv/bin/gunicorn web.asgi:application -w 4 -k uvicorn.workers.UvicornWorker -b 127.0.0.1:{{ app_port }}
Restart=always

[Install]
WantedBy=multi-user.target
